bandit==1.7.0
coverage==5.5
coveralls==3.2.0
Flask==2.0.1
Flask-SSLify==0.1.5
Flask-Testing==0.8.1
Flask-SeaSurf==0.3.1
flask-talisman==0.8.1
gunicorn==20.1.0
pycodestyle==2.7.0
pydocstyle==6.1.1
requests==2.26.0
Sphinx==4.2.0
Werkzeug==2.0.1
